page-fin-pvp {

    .ganaste{
        color: green;
    }

    .perdiste{
        color: rgb(206, 31, 31);
    }
    
    .empate{
        color: rgb(231, 231, 44);
    }

    h2{
        font-size: 40px;
    }

}
