page-pantalla-inicio {

  #comenzar{
    width: 200px;
    height: 50px;
  }

  /*@media screen and (min-width: 600px){
    img{
      width: 300px;
      margin:10px auto;
      display:block;
      max-height: 200px;
    } 

  }*/

  img{
    width: 200px;
    margin:10px auto;
    display:block;
    max-height: 200px;
  } 

}
